.article-footer-copyright {
          width: 85%;
          max-width: 45em;
          margin: 2.8em auto 0;
          padding: 0.5em 1.0em;
          border: 1px solid #d3d3d3;
          font-size: 0.93rem;
          line-height: 1.6em;
          word-break: break-all;
          background: rgba(255,255,255,0.4);
        }